/* General */
body, html {
	width:100%;
	margin:0;
	font-family: 'Roboto', sans-serif;
  font-size:16px !important;
  height:100%;
}

.entire-screen{
  min-height:100%;
  display:inline-block;
  width:100%;
}

a {
  text-decoration: none !important;
}

.block-79 {
  display:inline-block;
  width:79%;
  margin:0;
  padding:0;
  vertical-align:top;
}

.block-20 {
  display:inline-block;
  width:20%;
  margin:0;
  padding:0;
  vertical-align:top;
}

.block-50 {
  display:inline-block;
  width:50%;
  margin:0;
  padding:0;
  vertical-align:top;
}

.block-39 {
  display:inline-block;
  width:39%;
  margin:0;
  padding:0;
  vertical-align:top;
}

.block-60 {
  display:inline-block;
  width:60%;
  margin:0;
  padding:0; 
  vertical-align:top;
}

@media (max-width: 750px){
  .block-60 {
    width:100%;
  }
  .block-39 {
    width: 100%;
  }
}

/* Construction message */


/* Divider */
.divider {
  background-color:#03D1F8;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#03D1F8, white, #03D1F8); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#03D1F8, white, #03D1F8); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#03D1F8, white, #03D1F8); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#03D1F8, white, #03D1F8); /* Standard syntax */
  height:100px;
  width:100%;
  margin: 50px 0;
}

/* Contact */

#contact-me-info {
  text-align: center;
  font-size:inherit;
  margin-top:10%;
}

#contact-me-list {
  list-style:none;
}

@media (min-width: 1201px){
  #contact-profile-picture {
    height:80%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
  }
}

@media (max-width: 1200px){
  #contact-profile-picture {
    height:60%;
    display:block;
    margin: 0 auto;
  }
}


/* Header */

#header {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:60px;
  background-color:rgba(253, 253, 253, 0.95);
  z-index:10;
}

/* Button */
button.welcome-button {
  display:block;
  width:300px;
  margin: 20px auto;
  border: 1px solid rgba(0, 0, 255, 0.5);
}

#welcome-buttons {
  margin-top:30px;
}

.button {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  border: 1px solid #eee;
  font-weight: bold;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  position: relative;
  overflow:hidden;
  z-index:2;
  background-color: #ffffff;
  color: #03D1F8;
  transition: color 400ms;
}

.button::after {
  content:"";
  position: absolute;
  top:0;
  left:-100%;
  height: 100%;
  width: 100%;
  z-index:-1;
  background-color: #03D1F8;
  transition: left 400ms;
}

.button:hover {
  color: #ffffff;
}

.button:hover::after {
  left:0%;
}

/* Welcome box / Front page */

#welcome {
  margin-top:60px;
  padding: 0 100px;
}

#welcome-message {
  display:block;
  text-align:center;
  font-size:64px;
}

#welcome-centered-box {
  position:absolute;
  width:100%;
  top:40%;
  left: 0;
  text-align:center;
}


#profile-picture {
}

#profile-picture img {
  width:100%;
}

/* Screen overlay */
#screen-overlay {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0);
  z-index:2;
  display:none;
}

#screen-overlay.fadeInFromNoneAnimation {
  animation: fadeInFromNone 500ms ease-out;
  background-color:rgba(0,0,0,0.9);
  display:block;
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 0.7;
    }
}


/* Project Carousel*/
.carousel-video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 51%;
  z-index: 9;
}

.carousel-control {
  z-index:10;
}

.carousel-video {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
}

.carousel-inner > .item >img.carousel-img {
  display:block;
  margin: 0 auto;
  width:100%;
}


.carousel-control { /* Class defined by bootstrap. Making it shorter so that video controls can be clicked*/
  height:95%;
}

.carousel-caption {
  background-color:rgba(0,0,0,0.6);
}

#carousel-project-description {
  font-size:16px;
  line-height:30px;
  margin: 0px auto;
  background-color: #111;
  width:100%;
  position:absolute;
  top:100%;
}

i.close-button {
  position: absolute;
  top: 2px;
  right: 10px;
  font-size:40px;
  color:#8b0000;
  z-index:5;
}

i.close-button:hover {
  cursor:pointer;
}

#project-carousel {
  z-index:4;
  margin:auto;
  margin-top:15px;
  margin-left:30px;
  margin-right:30px;
}

#project-carousel-wrapper {
  position:absolute;
  left:20%;
  top:10%;
  width:60%;
  display:none;
  z-index:2;
  background-color:#111;
  border-radius:10px;
  color:white;
  text-align:center;
}

/* Panels */
.panel {
  display:block;
  padding:0;
  margin:0;
  float:left;
  text-align:center;
  position:relative;
}

.panel > img {
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  position:absolute;
  top:0px;
  left:0px;
}

.panel-overlay {
  height:100%;
  width:100%;
  padding:0;
  margin:0;
  position:absolute;
  top:0px;
  left:0px;
  transition: background-color 300ms;
}


.panel-overlay.orange {
  background-color: rgba(255, 100, 0, 0);
}

.panel-overlay.orange:hover {
  background-color: rgba(255, 100, 0, 0.7);
}

.panel-overlay.purple {
  background-color: rgba(75, 0, 130, 0);
}

.panel-overlay.purple:hover {
  background-color: rgba(75, 0, 130, 0.7);
}


.panel-overlay.pink {
  background-color: rgba(229, 43, 80, 0); //clear
}

.panel-overlay.pink:hover {
  background-color: rgba(229, 43, 80, 0.7); 
}

.panel-overlay.red {
  background-color: rgba(255, 0, 0, 0); //clear
}

.panel-overlay.red:hover {
  background-color: rgba(255, 0, 0, 0.7); 
}

.panel-overlay.green {
  background-color: rgba(0, 190, 0, 0); //clear
}

.panel-overlay.green:hover {
  background-color: rgba(0, 190, 0, 0.7);
}

.panel-overlay.blue {
  background-color: rgba(0, 0, 255, 0); //clear
}

.panel-overlay.blue:hover {
  background-color: rgba(0, 0, 255, 0.7);
}

.panel-overlay.yellow {
  background-color: rgba(180, 150, 20, 0); //clear
}

.panel-overlay.yellow:hover {
  background-color: rgba(180, 150, 20, 0.7); 
}


.panel-title {
  color: white;
  transition: all 500ms;
  margin-top:15%;
  opacity:0;
  margin-bottom:10px;
  font-size:34px;
  font-weight:bold;
}

.panel:hover .panel-title {
  margin-top:20%;
  opacity:1;
}

.panel-description {
  color:white;
  opacity:0;
  font-size:16px;
  padding: 0 15%;
  transition:all 500ms;
}

.panel:hover .panel-description {
  opacity:1;
}

i.panel-arrow {
  position:absolute;
  color:white;
  font-size:50px;
  top:70%;
  width:100%;
  opacity:0;
  left:0;
  transition: all 500ms;
}

.panel:hover i.panel-arrow {
  opacity:1;
  top: 65%;
}

.panel ul {
  padding:0;
  margin:0;
  position:absolute;
  font-size:12px;
  bottom:10px;
  width:100%;
  color:white;
  opacity:0;
  transition:all 500ms;
  list-style-type:circle;
}
.panel ul li {
  display:inline;
}

.panel:hover ul {
  opacity:1;
}

@media (min-width: 1201px){
  .panel {
    width:33.33333%;
    }
}

@media (max-width: 1200px){
  .panel {
    width:50%;
    }

  i.panel-arrow {
    display:none;
  }
}

@media (max-width: 750px){
  .panel {
    width:100%;
    }
}